.best {
  background-image: url('../img/bg/best-bg.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  @include phones__best {
	display: flex;
	font-size: rem(11px);
	}
	@include litlle__phones {
		display: flex;
		font-size: rem(11px);
			  align-items: baseline; 
		}
}
.container-best{
//	margin-bottom: 60px;
	@include tablets {
		margin-bottom: 123px;
		//margin-bottom: 161px;
		}
		@media screen and (max-height: 630px) {
            
			margin-bottom: 0px;
         }
		
		@include phones__best {
			margin-bottom: 0px;
			width: 97%;
			margin-bottom: 14px;
			   /* align-items: baseline; */
			}
			@include litlle__phones {
				justify-content: center;
				height: 100%;
				}
			
}

@media (min-width: 400px) and (max-height: 670px) {
	.container-best {
	  margin-bottom: 0px;
	}
  }
.section__title--best {
  color: #2f3234;
  padding: 0;

	white-space: normal;
	text-align: center;
	margin: 0;
	//MARGIN-TOP: -15PX;
	//margin-bottom: 2.5rem;
	margin-bottom: 1.8rem;
	margin-top: -1.5rem;
	@include tablets {
		margin-bottom: -2.7rem;
		}

  @include phones__best {
	margin: rem(0px);
	font-size: 50px;
	margin-bottom: 1rem;
	
	}
	@include litlle__phones {
		margin-top: 1rem;
		}
	
}

.features__list{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items:stretch;
	@include tablets {
	//	margin-top: 5.9rem;
	margin-top: 4.9rem;
		}

	@include phones__best {
		margin-top: 0rem;
		flex-direction: column;
	  }
}

.features__item{
	display: flex;
	flex-direction:column;
	flex: 1 1 rem(100px);
	color:black;
	font-size: rem(24px);
	font-family: "Lifehack";
	color: rgb(47, 50, 52);
	line-height: 1.167;
	text-align: center;
	margin-bottom:rem(25px);
	margin-bottom: 1rem;
	margin-left: 0.5rem;
	@media screen and (max-width: 720px) {
        margin-left: 1rem;
	}
	@media screen and (max-width: 720px) {
        margin-left: 0rem;
    }

	@include phones__best {
		flex-direction: row;
		margin-top: rem(50px);
		margin-bottom:rem(0px);
		flex: 1;
		margin-top: 0rem;
		margin-bottom: 3.5rem;
		}
		
		@include litlle__phones {
			margin-top: 1.5rem;
			margin-bottom: 0rem;
			}
}
.features__item:first-child{
	margin-left: 0rem;
}
  
.features__item-block{
	@include phones__best {
		display: flex;
		flex-direction: column;
		text-align: left;
			
			
				
			  }
	  }

.features__item-logo{
	text-align: center;
	//margin-bottom: 2.125rem;
    margin-bottom: 1.125rem;
	@include phones__best {
		text-align: left;
		margin-right: 0.5rem;
		
	  }
	  @include litlle__phones {
		margin-right: rem(35px);
		}
}
.features__image-hand{
	@include phones__best {
		margin-right: rem(20px);
	  }
	
}
.features__item-text {
	font-size: rem(14px);
	font-family: "Ubuntu";
	color: rgba(47, 50, 52, 0.8);
	line-height: 1.714;
	text-align: center;
	font-weight: 400;
	@include tablets {
		font-size: 1rem;
		}

	
	@include phones__best {
		text-align: left;
		font-size: 1rem;
	  }
	  @include litlle__phones {
		font-size: rem(14px);
		}
}
.features__item-title{
	margin-bottom: 1rem;
	@include phones__best {
		
		font-size: 1.5rem;
		
		}
		@include litlle__phones {
			font-size: rem(20px);
			margin-bottom: 0.7rem;
			
			}
	
	
}
.features__item-block-margin{
	margin-bottom: 0.6rem;
}
.features__image-natural--margin{
	margin-right: 0rem;
	margin-right: -1rem;
	margin-bottom: 0.5em;
	@include phones__best {
		
	//	margin-right: 2.29rem;
	//	margin-bottom: 0.29rem;
		margin-right: 1.29rem;
		margin-bottom: 0.29rem;
		margin-left: 1rem;
		}
	
	
	@include litlle__phones {
		margin-left: 0rem;
		margin-right: 0rem;
		
		}
}

.features__item-title-margin{
	margin-bottom: .6rem;
	@include tablets {
		margin-bottom: 1.3rem;
		}
	
		@include phones__best {
			
			margin-bottom: 1.3rem;
			}
}
