.best {
  background-image: url('../img/bg/best-bg.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  @include phones {
	display: flex;
	font-size: rem(11px);
	   /* align-items: baseline; */
	}
	@include litlle__phones {
		display: flex;
		font-size: rem(11px);
			  align-items: baseline; 
		}
}
.container-best{
	margin-bottom: 60px;
	@include tablets {
	    margin-bottom: 69px;
		}
}
.section__title--best {
  color: #2f3234;
  padding: 0;

	white-space: normal;
	text-align: center;
	margin: 0;
	MARGIN-TOP: -15PX;
	margin-bottom: 2.5rem;
  @include phones {
	margin: rem(0px);
	font-size: 50px;
	
	}
	@include litlle__phones {
		margin-top: 3rem;
		}
	
}

.features__list{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items:stretch;
	@include phones {
		flex-direction: column;
	  }
}

.features__item{
	display: flex;
	flex-direction:column;
	flex: 1 1 rem(100px);
	color:black;
	font-size: rem(24px);
	font-family: "Lifehack";
	color: rgb(47, 50, 52);
	line-height: 1.167;
	text-align: center;
	margin-bottom:rem(25px);
	@include phones {
		flex-direction: row;
		margin-top: rem(50px);
		margin-bottom:rem(0px);
		flex: 1;
		margin-top: 2.125rem;
		}
		
		@include litlle__phones {
			margin-top: 1.5rem;
			
			}
}

  
.features__item-block{
	@include phones {
		display: flex;
		flex-direction: column;
		text-align: left;
			
			
				
			  }
	  }

.features__item-logo{
	text-align: center;
	margin-bottom: 2.125rem;

	@include phones {
		text-align: left;
		margin-right: 0.5rem;
		
	  }
	  @include litlle__phones {
		margin-right: rem(35px);
		}
}
.features__image-hand{
	@include phones {
		margin-right: rem(20px);
	  }
	
}
.features__item-text {
	font-size: rem(14px);
	font-family: "Ubuntu";
	color: rgba(47, 50, 52, 0.8);
	line-height: 1.714;
	text-align: center;
	font-weight: 400;
	@include phones {
		text-align: left;
		font-size: 1rem;
	  }
	  @include litlle__phones {
		font-size: rem(14px);
		}
}
.features__item-title{
	margin-bottom: rem(20px);
	@include phones {
		
		font-size: 1.5rem;
		
		}
		@include litlle__phones {
			font-size: rem(20px);
			margin-bottom: 0.7rem;
			
			}
	
	
}
.features__image-natural--margin{
	margin-right: 2.29rem;
	margin-bottom: 0.29rem;
	@include litlle__phones {
		margin-right: 0rem;
		
		}
}