.burgers{
    background-image: -moz-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: -webkit-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: -ms-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);     
    position: relative;
    display: flex;
    justify-content: center;
}
.burgers__arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
.burgers__arrow-img{
    @extend .arrow__img;
    
}
.burgers__left-arrow{
    position: absolute;
    top: 48.5%;
    z-index: 10;
    left: 10%;
    transform: rotate(90deg);
    @media screen and (min-width: 1750px) {
        left: 20%;
    }

    @media screen and (max-width: 1250px) {
        left: 2%;
    }
    @media screen and (max-width: 1024px) {
        left: 0%;
    }
    @media screen and (max-width: 970px) {
        left: 0%;
    }
    @include phones{
        left: 0%;
                      }


}
.burgers__right-arrow{
    position: absolute;
    top: 48.5%;
    z-index: 10;
    right: 10%;
    transform: rotate(270deg);
   
    @media screen and (min-width: 1750px) {
        right: 20%;
    }

    @media screen and (max-width: 1250px) {
        right: 2%;
    }
    @media screen and (max-width: 1024px) {
        right: 0%;
    }
    @media screen and (max-width: 970px) {
        right: 0%;
    }
    @include phones{

        right: 0%;

                      }
}

.burgers__content{
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 940px;
    position: relative;
    @include tablets__slider{
        width: 700px;
        align-items: center;
      
           // width: 79%;
          }
          @media screen and (max-width: 690px) {
            width: 600px;
        }
        @media screen and (max-width: 610px) {
            width: 500px;
        }
        @media screen and (max-width: 479px) {
            width: 360px;
        }
        @media screen and (max-width: 370px) {
            width: 300px;
        }


    
          @include phones{
             //   width: 100%;
              }
}
.slideburger__list{
    position: relative;
    display: flex;
  
    transition: left 0.2s; 
}


.slideburger__item{
    display: flex;
    justify-content: center;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: rem(51px);
    width: 100%;
    width: 940px;
  
    
    @media screen and (max-width: 990px) {
       justify-content: center;
    }

    
    @include tablets__slider{
        width: 700px;
        justify-content: center;
        //width: 95%;
        flex-direction: column;
        align-items: center;
          }

          @media screen and (max-width: 700px) {
            width: 700px;
        }
        @media screen and (max-width: 690px) {
            width: 600px;
        }
        @media screen and (max-width: 610px) {
            width: 500px;
        }
        @media screen and (max-width: 480px) {
            width: 480px;
         }
         @media screen and (max-width: 479px) {
            width: 360px;
            align-items: center;
         }
         @media screen and (max-width: 370px) {
            width: 300px;
        }
          @include litlle__phones{
            margin-bottom: rem(0px);
           }
          
}


.slideburger__left{
    width: 49%;
    position: relative;
    @media screen and (max-width: 990px) {
        width: 40%;
     }
     @media screen and (max-width: 860px) {
        width: 36%;
        margin-left: -120px;
     }
     @media screen and (max-width: 850px) {
        //width: 30%;

     }
     
    @include tablets__slider{
        margin-left: 0px;
        width: 65%;
        text-align: center;
          }
          @media screen and (max-width: 480px) {
            width: 75%;
         }
         @media screen and (max-width: 480px) {
            width: 90%;
         }
}

.slideburger__right{
   width: 49%;
   @media screen and (max-width: 990px) {
    width: 40%;
 }
 @media screen and (max-width: 860px) {
    width: 38%;
 }

 
    @include tablets__slider{
        //width: 100%;
        width: 80%;
          }
          @media screen and (max-width: 480px) {
            width: 480px;
         }
         @media screen and (max-width: 479px) {
            width: 100%;
         }
}

.section__title--burgers{
    margin: 0;
    margin-bottom: rem(45px);
    font-size: rem(71.713px);
    margin-top: rem(68px);
    line-height: 0.889;
    color: #fff;
    @include tablets__slider{
        margin-left: 35px;
        margin-right: 35px;
        margin-bottom: 2.7rem;
        font-size: 4.7rem;
        margin-top: 1.25rem;
        text-align: center;
          }
              
          @media screen and (max-width: 670px) {
            font-size: 3.4375rem;
            margin-top: 2rem;
        }
        @media screen and (max-height: 750px) {
            margin: 0;
        }
       
        @media screen and (max-width: 480px) {
            padding: 0 20px;
        }
       

          @include phones{		
            margin-left: 36px;
            margin-right: 36px;
            font-size: 3.4375rem;
            line-height: 1.1;
            margin-bottom: 16px;
            margin-top: 5px;
         }
         @include litlle__phones{
            padding: 0 0px;
            margin-left: 30px; 
             margin-right: 30px; 
            font-size: 2.4375rem;
           }
         
         
  /*    margin-bottom: 2.8125rem;
    font-size: 4.48206rem;
    margin-top: 1.25rem;*/
}
.slideburger__left-composition{
    width: rem(90px);
    height: rem(90px);
    border-radius: rem(5px);
    background-color: #f08c33;
    margin-top: rem(14px);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: rem(14px);
    margin-left: 1px;
    @include tablets__slider{
        top: 24px;
        left: -6px;
      //  top: 40px;
      //  left: 52px;
          }
         
          
          @include phones{		
            top: 51px;
            left: 0px;
      
         }
         @include litlle__phones{
            top: 25px;
           }
           
         
}
.slideburger__left-composition:hover{
    background-color: rgb(227, 80, 40);
    cursor: pointer;
    
}


  
.slideburger__left-imgbloc{
    margin-top: rem(92px);
    @include tablets{
        //margin-top: 8.3rem;
        margin-top: 7.3rem;
          }
          @include phones{		
            margin: 0 auto;
            margin-top: 14rem;
            width: 100%;
         }
         @media screen and (max-height: 750px) {
            margin-top: 5.5rem;
        }
         @media screen and (max-height: 690px) {
            margin-top: 4.5rem;
        }
       
         @include litlle__phones{
            margin-top: 5rem;
           }
         
        
    
}
  
.slideburger__right-description{
    font-size: 0.875rem;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    line-height: 1.714;
    font-size: rem(14px);
    font-weight: 400;
    margin-bottom: rem(21px);
    font-weight: 300;
    @include tablets__slider{
        text-align: center;
            font-size: rem(14px);
            font-weight: 500;
            font-weight: 300;
            margin: 0px 0px;
            margin-bottom: 42px;
          }
          @include phones{
            line-height: 1.8;
            font-size: 1rem;
            margin-bottom: 2px;
            font-weight: 300;
           // width: 442px;
            /* margin-right: 72px; */
         //   margin-left: -32px;
          }
}

.slideburger__right-prise{
    display: flex;
    align-items:center;
    @include tablets__slider{
        justify-content: center;
          }
    
}

.cost__number{
    font-size: rem(71.707px);
    font-family: "Gagalin";
    color: rgb(227, 80, 40);
    margin-top: rem(-23px);
    @include tablets__slider{
        margin-left: 25px;
          }
          @include phones{
            font-size: 3.48169rem;
            margin-left: 23px;
              }
              @include litlle__phones{
                font-size: 3rem;
                margin-left: 23px;
               }
              
   
}
.cost__number-small{
    font-size: rem(30px);
    margin-left: rem(-19px);
    @include phones{
        font-size: 1.6rem;
        margin-left: -0.1875rem;
          }
          @include litlle__phones{
            font-size: 1rem;
            margin-left: -0.1875rem;
           }
          
}
.cost__btn{
    margin: rem(34px) rem(25px);
    margin-top: rem(40px);
    @include phones{
        margin: 3.125rem 1.5625rem;
        margin-top: 2.5rem;
          }

   
}
.composition__title{
    font-size: rem(14px);
    font-family: "Gagalin";
    color: rgb(255, 255, 255);
    line-height: 2.008;
    text-align: center;
    margin-bottom: rem(-10px);

    
}

.kkal{
    position: absolute;
    bottom: rem(-27px);
    left: rem(0px);
    font-size: rem(20px);
    color: rgba(255, 255, 255, 0.502);
    font-family: "Gagalin";
    line-height: 1.2;
    @media screen and (max-width: 990px) {
        
        bottom: 1.3125rem;
     }
    @include tablets__slider{
        bottom: auto;
        left: auto;
       // right: 55px;
      //  top: 52px;
      right: -8px;
      top: 35px;

          }
          @include phones{
            bottom: auto;
            left: auto;
            right: 0px;
            top: 66px;
              }
              @include litlle__phones{
                top: 40px;
               }


         
 
}
.kkal__kilo{
    position: absolute;
    top: rem(26px);
    left: rem(14px);
    @include tablets__slider{
        
        top: 1.7rem;
        left: 0.9rem;
          }
          @include phones{
            top: 1.9rem;
            left: 1.1rem;
              }
       
   
}
.kkal__text{
    position: absolute;
    bottom: rem(-12px);
    left: rem(15px);
    font-size: rem(14px);
    @include tablets{
        left: rem(0px);
        top: 4.1rem;
        left: 1rem;
        bottom: auto;
          }
          @include phones{
            top: 4.5rem;
            left: 1.2rem;
              }
        
  
}
/*
.compound__list{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: rem(5px);
    padding: rem(20px);
    width: rem(270px);
    left: rem(91px);
    top: rem(14px);
    font-size: rem(14px);
    font-family: "Ubuntu";
    color: rgb(47, 50, 52);
    @include tablets{
        left: 9.15rem;
        width: 370px;
        top: 3.5rem;
        padding-right: rem(70px);
          }
          @include phones{
            left: 5.7rem;
            width: 370px;
            top: 4.5rem;
            }
         

}*/
.compound__list{
flex: 1 1 100px;
margin-right: 25px;
@include litlle__phones{
    margin-right: 15px;
   }

}

.compound__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(12.5px);
}
.compound__item:last-child{
    margin-bottom: 0;
}
.compound__title{
    font-weight: 500;
    flex: 1;
    margin-left: rem(20px);
    text-align: left;
    @include litlle__phones{
        margin-left: 0.25rem;
       }
    
}
.compound__about{  
 display: flex;
justify-content: space-between;
}

.slideburger__left-compound{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: rem(5px);
    padding: rem(20px);
    width: rem(270px);
    left: rem(91px);
    top: rem(14px);
    font-size: rem(14px);
    font-family: "Ubuntu";
    color: rgb(47, 50, 52);
    display: flex;
    @include tablets__slider{
        left: 5.2rem;
        width: 370px;
        top: 2.5rem;
        //padding-right: rem(70px);
          }
          @include phones{
            left: 5.7rem;
            width: 370px;
            top: 4.5rem;
            }
            @media screen and (max-width: 615px) {
                width: 290px;

            }
            @media screen and (max-width: 415px) {
                width: 263px;

            }
            @include litlle__phones{
                width: 245px;
                left: 5.6rem;
               top: 2.7rem;
               width: 208px;
               padding: 0.5rem;
               }
               
               
               
               
    //position: relative;
    display: none;
}
.composition:hover + .slideburger__left-compound {
    display: block;
    @include tablets__slider{
        display: flex;
          }

}

.slideburger__left-cross{
    @include tablets__slider{
        background-image: url("../img/bg/grave.png");
        background-repeat: no-repeat;
        background-position: center center;
        height: 20px;
        
        width: 20px;
      
        
        border-radius: 5px;
        opacity: .7;
          }
          @include phones{
              left: auto;
              top: 77px;
              right: 23px;
              }
              @include litlle__phones{
                height: 15px;
                width: 15px;
               }
              
          

}
.cost__btn-link{
    @include phones{
        font-size: 1rem;
        }
   
}