/*.form {
    background-color: rgb(245, 242, 237);
    background: url('../img/bg/form.jpg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__content{
    display: flex;
    justify-content:center;
    flex-direction:column;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.section__title--form{
    padding-top: 0;
}
.forms{
    height: 300px;
    width: 100%;
    background-color: rgb(144, 248, 153);
    display: flex;
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);    
}
.forms__left{
    background-color: rgb(65, 115, 207);
    width: 50%;
    height: 100%;
}
.forms__right{
    background-color: rgb(91, 65, 207);
    width: 50%;
    height: 100%;
}
.form__list{
    display: flex;
    flex-direction:column;
}
.form__item{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}
.block{
    width: 220px;
}/*
input[type="text"]{
    height: 25px;
    width: 220px;
    border-width: 1px;
    border-color: rgb(209, 207, 203);
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

input[type="text"]:focus {
    color: #000000;
    border: 1px solid #000000
  }
*/
/*

button, input, optgroup, select, textarea {
    color: #000;
   
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(47, 50, 52);
    line-height: 1.714;
    margin: 0; 
}

._89212264923 {
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(47, 50, 52);
    line-height: 1.714;
  }
  */