.maincontent__content{
    height: 100vh;
    width: 100%;
    position: absolute;
    position: fixed;
    top: 0; 
     left: 0; 
     right: 0; 
     bottom: 0; 
    background-color: rgba(47, 50, 52, 0.9);
    z-index: 10000; 
}

.active2{
    animation: remove 1s linear 0s 1 forwards;
    display: block;
    }
.animach{
    animation: fadeIn 1s linear 0s 1 forwards;
    opacity: 0; 
}

@keyframes fadeIn {                
	0% {
	opacity: 1;
	}
	100%{
	opacity: 0;
	}
}

@keyframes remove {                
	0% {
	opacity: 0;
	}
	100%{
	opacity: 1;
	}
}


.maincontent__list{
    position: absolute;
    color: #349;
    top: 23%;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    position: relative;
    @include litlle__phones{
        top: 15%;
       }
       @media screen and (max-width: 320px) {
        top: 10%;
    }
}
  
.maincontent__link{
    @extend .nav__link;
    font-size: 24px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.667;
    text-align: center;
    @include litlle__phones{
        font-size: 20px;
       }
}
.maincontent__item{
    margin-bottom: 42px;
    position: relative;
}
.maincontent__item:after{
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 1rem;
    background-color: #fff;
    margin: 0 0.6875rem;
    position: absolute;
    left: 44%;
    top: 57px;
    @include litlle__phones{
         top: 50px;
       }
}
.maincontent__item:last-child{
    margin-bottom: 0px;
    position: static;
}
.maincontent__logo{
    position: absolute;
    top: 1.1%;
    left: 2.5%;
    @include litlle__phones{
        top: 1.6%;
        left: 2.5%;
      }

}
.maincontent__cross-link{
  //  background-image: url("../img/bg/sross.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    opacity: .7;
    position: absolute;
    top: 4%;
    right: 4%;
    @include litlle__phones{
        top: 7%;
        right: 7%;
      }
      }

/* Сообщение формы */
.maincontent__message{
    @extend .maincontent__content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.messege__form{
    height: 105px;
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(47, 50, 52);
    line-height: 1.714;
}
.messege__answer{
    margin-bottom: 20px;
}
.hidden{
    display: none;
}