.map {
    position: relative;
  }
.map__content {
  width: 100%;
  height: 100%;
}
.footer{
  position: absolute;
  bottom: 0;
  background-color: $dark;
  background-image: url('../img/bg/footer.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;  
  height: rem(60px);
  width: 100%;
  z-index: 1;
  @include phones{
    height:8.1875rem;
    padding-top: 17px;
  }
}

.footer__left{
  color: #fff;
  font-size: 13.5px;
  width: 50%;
  @include phones{
    text-align: center;
    width: 100%;
  }
}
.footer__right{
  width: 50%;
  text-align: right;
  @include phones{
    text-align: center;
    width: 100%;
    justify-content:center;
  }
}
.footer__container{
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: row;
  @include phones{
    text-align: center;
    height: 115px;
    flex-direction: column;
    width: 100%;
  }
}
.footer__list{
  text-align: right;
  line-height: 0;
  @include phones{
    text-align: center;
    width: 100%;
    justify-content:center;
    margin: 14px 0;
  }
}
.footer__item{
  display: inline-block;
  margin-left: rem(10px);
  @include phones{
    margin-left: 0px;
    margin-right: 16px;
    
  }
  &:last-child{
    
      margin-right: 0px;
  }
}

.phone{
  color: #e45028;
  font-weight: 500;
  @include phones{
    margin-top: 4px;
  }

}