.order {
    background-color: rgb(245, 242, 237);
    background: url('../img/bg/form.jpg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @include tablets{
        align-items: stretch;
          }
}
.form{
    margin-bottom: 20px;
    @include tablets{
        margin-bottom: 0px;
          }
}
.order__content{ 
    
    @include tablets{
        padding-top: 13%;
          }
          @include phones{	
            padding-top: 11%;	
            
         }
         @media screen and (max-width: 420px) {
            justify-content: center;
            
        }
         @include litlle__phones{
            justify-content: center;
           // padding-top: 4%;
           }
           
         
}


        



.form__content{
    display: flex;
    justify-content:center;
    flex-direction:column;
    height: 100%;
    
}
/*
.order__content{
    height: 100%;
}*/


.section__title--form{
    padding-top: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
    margin-bottom: -26px;


  
    @include tablets{
        margin-bottom: 25px;
          }
    
    /* @media screen and (max-height: 800px) {
        font-size: 3rem;
        margin-bottom: 5px;
    }*/

    @include phones{		
        padding: 0px 26px;
        font-size: 50px;
        line-height: 1.3;
       
    margin-bottom: 14px;
     }
     @media screen and (max-width: 420px) {
        font-size: 35px;
        
    }
     @include litlle__phones{
	    padding: 0px 0px;
        //!!font-size: 34px;
        font-size: 3.125rem;
        line-height: 1.3;
        margin-bottom: 12px;
	   }
}



  
.form__elem{
    display: flex; 
    justify-content: space-between;
    @include tablets{
        flex-direction:column;
        width: 64%;
          }
          @include phones{		
            width: 100%;
        }
}
.form{
    @include tablets{
        display: flex;
        justify-content: center;
          }
}


.form__block-title {
    color: #fff;
    font-weight: 300;
    font-size: rem(14px);
    font-family: "Ubuntu";
    line-height: 1.714;
    margin-bottom: rem(5px);
    @include tablets{
        font-size: 1rem;
          }
  }

  .form__input {
    border: none;
    border-radius: rem(5px);
   // padding: rem(5px);
   padding-left: 15px;
   height: 2rem;
    width: 100%;
    border-width: rem(1px);
    border-color: rgb(209, 207, 203);
    border-style: solid;
    @include tablets{
        padding-left: 5px;
          }
 
    @include phones{		
        
        padding: 0.6rem;
    }
   
  } 


  .form__row {
    display: flex;
    line-height: 1.65;
    margin-bottom: rem(20px);
    @include phones{		
        justify-content: center;
        margin-bottom: 1.5rem;
    }
   
  } 
  .form__button{
     @include phones{		
    display: flex;
    justify-content: center;
} 
  }
  
  .form__block-hidden{
    @include phones{
       display: none;
     }
  }

  .form__colum{
      width: 49%;
      font-size: rem(14px);
      font-family: "Ubuntu";

      @include tablets{
        width: 100%;
        margin-top: 0px;
          }
  }
  .form__block {
    flex: 1;
    margin-left: rem(20px); 
    &:first-child {
      margin-left: 0;
    }
    @include phones{		
        margin-left: rem(10px);
      
      }
  }
input[type="text"]:focus{ 
      outline: none;
      border:rem(2px) solid rgb(249, 180, 59);
      
      border-radius: rem(5px);
      box-sizing: border-box;
} 
.form__textarea:focus{ 
    outline: none;
    border:rem(2px) solid rgb(249, 180, 59);
    
    border-radius: rem(5px);
    box-sizing: border-box;
} 
.form__textarea{
    resize: none;
    height: 110px;
    @extend .form__input;
    @include tablets{	
        overflow-x: hidden;	
        height: 7.25rem;
     }
    @include phones{		
        height: 8rem;

     }
     @media screen and (max-width: 420px) {
        height: 3rem;
        
    }
    
}

.form__row-textarea{
    /*height: 60%;*/
    margin-bottom: rem(15px);
    margin-top: 2.3rem;
    @include tablets{	
        margin-top: 0rem;
        margin-top: -10px;
        margin-bottom: 0.6rem;

     }
     @include phones{		
        margin-bottom: 2.5rem;

     }
     @include litlle__phones{
        margin-bottom: 0rem;
	   }
     
}
.radio__label {
    display: flex;
    align-items: center;
    color: #fff;
    margin-right:rem(20px);
    @include tablets{	
        margin-right: 1.7rem;
     }
     @include phones{		
       
        font-size: 1rem;

        margin-right: 0.7rem;
        margin-left: 1rem;
     }
     @include litlle__phones{
        font-size: rem(14px);
        margin-left: 0rem;
        margin-right: 0.5rem;
	   }
}

.checkbox__label{
    @extend .radio__label;
    @include tablets{	
        margin: 0rem;
     }
     @include phones{		
        margin-top: 0.7rem;
        
     }
     @include litlle__phones{
        margin-top: -1.3rem;
	   }
    
    
}
.order-link-form{
    @include phones{		
        font-size: 1rem;
        
     }
   
}
.checkbox{
    margin-bottom: 1rem;
    @include tablets{	
        margin-bottom: 2.4rem;
     }
     @include litlle__phones{
        margin-bottom: 1rem;
	   }
}
.form__row-radio{
    color:#fff;
}
input[type="radio"] {
    /*display: none;*/
    @extend .visually-hidden;
}

input[type="radio"]+label:before {
    content: "";
    display: inline-block;
    width: rem(15px);
    height: rem(15px);
    margin-right: rem(7px);
    background-clip: content-box;
    background-color: #fff;
    border-radius: 50%;
    @include tablets{	
        width: 1.1rem;
        height: 1.1rem;
    
     }
}

input[type="radio"]:checked + label:before {
   background-color: #e35028;
   border: rem(4px) solid #FFF;
}
input[type="radio"]:focus + label:before {
    box-shadow: 0 0 rem(15px) rgb(249, 180, 59);
}



input[type="checkbox"]{
    @extend .visually-hidden;
}
input[type="checkbox"]+label:before {
    content: "";
    display: inline-block;
    width: rem(15px);
    height: rem(15px);
    background-color: #fff;
    margin-right: rem(7px);
    @include tablets{	
        width: 1.1rem;
        height: 1.1rem;
    
     }

    
}
input[type="checkbox"]:checked + label:before {
    content: "\2714";
    text-align: center;
    line-height: 1.2;
    color:#e35028;
    font-weight: 900;
    background-clip: content-box;
    background: #ffffff;
    @include phones{	
        line-height: 1.4;
     }
   
}
input[type="checkbox"]:focus + label:before{
    box-shadow: 0 0 rem(30px) rgb(249, 180, 59);
}
.order-link-reset{
    margin-left: 1.1rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.8125rem;
    vertical-align: middle;
    text-transform: none;
    margin-bottom: 6px;
    @include tablets{	
        margin-bottom: 0px;
    
     }
     @include phones{	
        font-size: 1rem;
        margin-left: 1.5rem;
     }
 
  
}
.order-link-reset:focus, .order-link-form:focus{ 
    outline:rem(1px) solid rgb(249, 180, 59);
} 
.order-link-reset:hover{
text-decoration: underline;
}

@media (max-width: 768px) and (max-height: 792px) {
    .order__content{ 
            padding-top: 0%;
    }
    .section__title--form {
        margin-bottom: 0px;
    }
         }
         @media (max-width: 719px) and (max-height: 561px) {
            .section__title--form {
                margin-bottom: 0px;
            }
        }
        @media (max-width: 770px) and (max-height: 700px) {
            .form__textarea {
                height: 3rem;
            }
            .section__title--form {
                font-size: 30px;
            }
            .order__content{
               justify-content: center;  
            }
           
        }

/*
@media (min-width: 400px) and (max-height: 730px) {
    .section__title--form {
        font-size: 35px;
    }
    .form__row{
      margin-bottom: 0.5rem;  
    }
  }*/