.reviews__content{
    display: flex;
    background-color: #2f3234;
    height: 100%;
}
.reviews__list{

	display: flex;
	flex-wrap: wrap;
}
.reviews__item{
	width: 25%;
	height: 50%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
	filter: grayscale(100%); 
	@include tablets{
		width: 50%;
		height: 25%;
		  }
		
		
}
.reviews__info{
	//padding: 0.6rem 3.3rem 0rem 3.3rem;
	padding: 2.6rem 1.2rem 0rem 1.2rem;
	
	background-color: rgba(47, 50, 52, 0.7);
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	opacity: 0;
	transition: .5s;
	&:hover{
		opacity: 1;
	}

	@media screen and (max-width: 1070px) {
		padding: 0.6rem 1rem 0rem 1rem;
    }

	
	@include tablets{
		display: flex;
		text-align: center;
		padding: 2rem 3.5rem 0rem 3.5rem;
		align-items: center;
		
		  }

		  @media screen and (max-height: 770px) {
			padding: 0.2rem 1rem 0rem 1rem;
		}


		  @media screen and (max-width: 637px) {
			padding: 0.6rem 1rem 0rem 1rem;
		}
		  @include phones{	
			padding: 2rem 2rem 2.5rem 2rem;
			justify-content: space-around;
			
		}
		@include litlle__phones{
			justify-content: center;
		   }
		
}
.reviews__title{
	font-size: rem(14px);
	font-family: "Gagalin";
	color: rgb(255, 255, 255);
	line-height: 2.008;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: rem(1px);
	margin-bottom: rem(15px);
	@include tablets{
		text-align: center;
		margin-bottom: rem(0px);
		  }
		  @include phones{		
			font-size: 1.57rem;
			line-height: 1.308;
		}
		@include litlle__phones{
			margin-bottom: 10%;
		   }

	
}

.reviews__about{
	font-size: rem(14px);
	font-family: "Ubuntu";
	color: rgb(255, 255, 255);
	line-height: 1.75;
	font-weight: 400;
	margin-bottom: 0.7rem;
	height: 40%;
	@include tablets{
	
		margin-top: 0.42rem;
	text-align: center;
	line-height: 1.82;
	margin-bottom: 1.75rem;
	  }
	  @media screen and (max-height: 690px) {
		margin-bottom: 1rem;
		//padding: 0.2rem 1rem 0rem 1rem;
    }
	  @include phones{		
		display: none;
	}
}



.reviews__button {
	@extend .order-link; 

	background-color: rgb(47, 50, 52);
	&:hover{
		background-color: rgb(31, 33, 34);
	}
	@include tablets{
		
		text-align: center;
		  }
		  @include phones{		
			display: none;
		}
} 
.reviews__button-mobile{
	@extend .order-link; 
	background-color: rgb(47, 50, 52);
	&:hover{
		background-color: rgb(31, 33, 34);
	}
	display: none;
	@include phones{		
		display: block;
		font-size: 0.95rem;
	}
	@media screen and (max-width: 380px) {
        font-size: 0.7rem;
    }
	@include litlle__phones{
		font-size: 0.7rem;
	   }

}

	


.full_r{
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(47, 50, 52, 0.9);
}
.hid{
	display: none;
}
.full-review {
	padding: rem(25px) rem(20px);
	width: 460px;
	background: #fff;
	border-radius: 5px;
	position: relative;
}

.full-review__title {
	font-family: "Gagalin";
	font-size: rem(14px);
	text-transform: uppercase;
	margin-bottom: rem(25px);
}

.full-review__content {
	font-size: rem(14px);
	font-family: "Ubuntu";

}

.full-review__close {
	width: rem(15px);
	height: rem(15px);
	display: block;
	position: absolute;
	right: rem(20px);
	top: rem(20px);
	opacity: .7;
	transition: .3s;

	&:hover {
		opacity: 1;
	}

	svg {
		width: 100%;
		height: 100%;
	}
}

.status-popup__inner {
	padding: rem(20px);
	text-align: center;
}

.status-popup__message {
	margin-bottom: rem(20px);
	font-size: rem(14px);
}

.status-popup {
	width: rem(240px);
}
