.team {
    background-color: rgb(192, 175, 170);
    background-image: url('../img/bg/team.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;  
    position: relative;
}
.team__container{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 49%;
    background-color:rgba(57,59,60, 0.9);
    flex-direction: column;
    padding: 2.625rem 4rem 5.625rem 6rem;
    @include tablets {
        padding: rem(220px) rem(0px) rem(215px) rem(0px);
        width: 100%;
        display: flex;
        justify-content: center;
      }
      @media screen and (max-width: 940px) {
        padding: 10% 20%;
        width: 100%;
    }
    @include phones {
       padding: 0;
        }
}

.section__title--team{
    margin-bottom: 1.2rem;
    margin-top: rem(0px); 
    @media screen and (max-width: 800px) {
        text-align: center;
    }
    @include tablets {
      margin: 0;
      margin-bottom: 0rem;
      }
      @include phones {
        font-size: rem(57px);
        margin: 0;
        margin-bottom: 1.1rem;
        }
}
.team-acco{
    color: #fff;
    @include tablets {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items:center;
      }
}


  
.team-acco__trigger{
    @extend .reviews__title;
   // margin-bottom: 1.1875rem;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
   // transition: 0.4s;
   // width: 35%;
    //position: relative;
    margin: 0;
    &:before {
        height: 0;
        width: 0;
        border: 0.3rem solid transparent;
        border-top-color: $yellow;
        border-bottom-width: rem(0px);
        margin-right: rem(10px);
        content: " ";
     transition: 0.3s;
      }
        @include tablets {
           
            font-size: rem(24px); 
            margin-bottom:0rem;  
           /* margin-bottom: 1.3rem;   */   
         }
         @include phones {
            font-size: 1.6rem;
            }
}

 .team-acco__item{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
   @include tablets {
    margin-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
       // margin-bottom: rem(20px);
    }
}


.team-acco__item{
   
 //  margin-bottom: 60px;
   
    @include phones {
        font-size: rem(57px);
        margin: 0;
       // margin-bottom: 1.25rem;
        margin-bottom: 2.8rem;
        }
}

    .team-acco__content{
       @include tablets { 
        display: flex;
        flex-direction: column;
       // justify-content: center;
        align-items:center;
        text-align: center;
    }
}
.team__content{

    @include tablets {
       // margin-bottom: 26px; 
       margin-bottom: 78px;
      }
      @include phones {
        margin-bottom: 0px; 
        }   
}

.team-acco__content {
    transition: height 0.4s;
    height: 0px;
    overflow: hidden;
   // padding-top: 10px;
    margin-top: 8px;
   // transition: height 0.4s;

    display: flex;
    @include tablets {
        display: block;
        height: 0px;
        //margin-bottom: -33px;
       // margin-bottom: 106px; 
      }
      @include phones {
        margin-bottom: -25px;
        }
      
  }
  .team-acco__text {
    color: #fff;
    flex: 1 1 rem(100px);
  }

  /*.team-acco__content {
    transition: 0.3s;
    display: none;
  }*/


.team-acco__item_active {
    transition: 0.3s;
    //margin-bottom: 3rem;
    
.team-acco__trigger {
   // margin-bottom: 1rem;
    transition: 0.3s;
      color: $yellow;

      @include tablets {
        margin-bottom: 0rem;
        
      }
      @include phones {
        margin-bottom: 0rem;
        }
    
      &:before {
        transition: 0.3s;
        transform: rotate(-180deg);
      }
    }
    .team-acco__content {
        //display: flex;
       // animation-name: slideDown; 
       // animation-duration: 1s; 
       // animation-timing-function: ease;      
     
       // visibility: visible !important; 
    }
}
.team-acco__pic{
    width: rem(100px);
    height: rem(100px);
    background-color: #fff;
    background-position: 60% bottom;
    background-size: cover;  
    border-radius: 50%;
    margin: rem(0px) rem(20px) rem(0px) rem(20px);
    @include tablets {
        margin: 0 auto;
        
      }

    
    @include phones {
        width: 7.25rem;
        height: 7.25rem;
        }
     
}
.team-acco__text-title{
    margin-bottom: 1.1rem;;
    //margin-top: rem(-5px);
    font-weight: 600;
    font-size: rem(14px);
    
    @include tablets {
       margin: 20px;
       
     }
     
   
}
.team-acco__text-content{
    font-size: rem(13.5px);
    line-height: 1.7;
    @include tablets {
    width: 75%;
    margin: 0 auto;
    font-size: rem(14px);
      }
      @include phones {
        font-size: 13.8px;
       
        }
 
   
}
