.wrapper {
  width: 100%;
  // min-width: 940px + 20px;
  min-height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  min-height: 650px;
}

.container {
  max-width: 940px;
  width: 95%;
  position: relative;
  margin: 0 auto;
  /*display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;*/
}


.section {
  height: 100vh;
  background-color: rgba(0,0,0,0.31);
  min-height: rem(650px);
  
}

.order-link {
  /*min-width: rem(98px);*/
  padding: rem(10px) rem(17px);
  border-radius: rem(5px);
  background-color: $orange;
  color: #fff;
  text-decoration: none;
  font-size: rem(13px);
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
  transition: .5s;
  &:hover {
    background-color: rgb(221, 121, 96);
  }
}

.visually-hidden{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}